{% extends 'base_coleta.html' %}
{% block body %}


<!--NavBar-->
<div class="navbar-fixed">
  <nav class=" blue-grey darken-4 z-depth-2">
    <div class="nav-wrapper">
      <a href="#"class="brand-logo center"><span id="header-large" class="text-logo"> Nova Coleta</span></a>
      <a href="#" data-activates="menu-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    <div class="progress">
      <div class="indeterminate" id="id_carregando_bar" hidden></div>
    </div>
  </nav>
</div>

<ul class="side-nav" id="menu-mobile">
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'novoExame' %}">Buscar Exame</a></li>
  <li><a href="{% url 'novaColeta' %}">Nova Coleta</a></li>
</ul>
<!--NavBar-->

 <!-- id_form_coleta -->
<form class="col s12 m12 l12"  method="POST" id="id_form_novaFicha">
  {% csrf_token %}

  <input id="paciente" type="hidden" name="paciente"  value="{{context.nomeCompleto}}">
  <input id="tipoExame" type="hidden" name="tipoExame"  value="{{context.tipoExame}}">

  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content white-text">
          {% if user.avaliador.dispositivo %}

            <!-- Div busca de paciente e tipoExame-->
            <div class="row" id="id_div_busca_paciente_tipoExame">
              <div class="input-field col s12 m12 l12">
                <input placeholder="" id="search_paciente" name="search_paciente" value="{{context.nomeCompleto}}" type="text" class="search_paciente grey-text text-darken-4" autofocus required>
                <label for="search_paciente">BUSCAR: Nome ou CPF</label>
              </div>
              <div class="input-field col s12 m12 l12">
                <input placeholder="" id="search_tipo_exame" name="search_tipo_exame" value="{{context.tipoExame}}" type="text" class="search_tipo_exame grey-text text-darken-4" required>
                <label for="search_tipo_exame">Buscar Exame</label>
              </div>
            </div>
            <!-- Div busca de paciente e tipoExame-->

            <!-- Div dados paciente -->
            <div class="row" id="id_div_dados_paciente" hidden>
              <div class="section"/>
              <hr><h5 class="grey-text text-darken-1 center"> Dados do Paciente</h5><hr></br>
              <div class="input-field col s12 m12 l12">
                <input placeholder="" id="id_nomeCompleto" name="nomeCompleto" type="text" disabled>
                <label for="id_nomeCompleto">Nome completo</label>
              </div>
              <div class="input-field col s12 m12 l12">
                <input placeholder="" id="id_cpf" name="cpf" type="text" disabled>
                <label for="id_telefone">CPF</label>
              </div>
              <div class="input-field col s12 m12 l12">
                <input placeholder="" id="id_dataNascimento" name="dataNascimento" type="text" disabled>
                <label for="id_dataNascimento">Data de Nascimento</label>
              </div>

              <div class="input-field col s12 m12 l12 grey-text text-darken-1 " hidden>
                <input id="id_cronometro_laudo" type="text" name="cronometro" value="00:00" readonly>
                <label for="id_cronometro_laudo" class="active" >Cronômetro</label>
              </div>
            </div>
            <!-- Div dados paciente -->

            <!-- Div dados tipo exame -->
            <div class="row" id="id_div_dados_tipoExame" hidden>
              <div class="section"/>
              <hr><h5 class="grey-text text-darken-1 center"> Dados do Exame</h5><hr></br>
              <div class="input-field col s12 m12 l12">
                <input placeholder="" id="id_tipoExame" name="tipoExame" type="text" disabled>
                <label for="id_tipoExame">Tipo Exame</label>
              </div>
              <div class="col s12 m12 l12 center">
                <span class="grey-text text-darken-1" id="id_descricao_tipo_exame"></span>
                <div class="section"/>

                <div class="section" id="id_div_field_cronometro" hidden>
                  <span class="grey-text text-darken-1" id="id_cronometro" style="width:300px; height:100px; line-height:100px; font-size:75px; border:none;"></span>
                </div>
              </div>
            </div>
            <!-- Div tipo exame -->

            <!-- Div field laudo -->
            <div class="row" id="id_div_laudo_paciente" hidden>
              <div class="section"/>
              <hr><h5 class="grey-text text-darken-1 center"> Laudo do Paciente</h5><hr></br>
              <div class="input-field col s12 m12 l12" id="id_div_field_observacao" hidden>
                <textarea id="id_observacao" name="observacao" data-length="120" class="materialize-textarea grey-text text-darken-4"></textarea>
                <label for="id_observacao" class="active" >Observação</label>
              </div>
              <div class="input-field col s12 m12 l12 grey-text text-darken-4" id="id_div_field_deslocamento" hidden>
                <input placeholder="" id="id_deslocamento" name="deslocamento" type="number" value=""></textarea>
                <label for="id_deslocamento" class="active" >Deslocamento em cm</label>
              </div>

              <div class="input-field col s12 m12 l12 grey-text text-darken-4" id="id_div_field_pontuacao_soma" hidden>
                <input placeholder="" id="id_pontuacao_soma" name="pontuacao_soma" type="number" value=""></textarea>
                <label for="id_pontuacao_soma" class="active" >Pontuacao Soma</label>
              </div>


              <div class="input-field col s12 m12 l12" id="id_div_field_risco_queda" hidden>
                <h6 class="grey-text text-darken-1 center"> Risco de Queda</h6>
                </br>
                <select class="grey-text text-darken-4" id="id_field_risco_queda" name="risco_queda" required>
                    <option value="-----">Selecione um Risco</option>
                    <option value="BAIXO">BAIXO risco de queda</option>
                    <option value="MEDIO">MÉDIO risco de queda</option>
                    <option value="ALTO">ALTO risco de queda</option>
                </select>
              </div>

              <div class="input-field col s12 m12 l12" id="id_div_field_pontuacao" hidden>
                <h6 class="grey-text text-darken-1 center">Pontuação</h6>
                </br>
                <select class="grey-text text-darken-4" id="id_pontuacao" name="pontuacao" required>
                    <option value="-">-</option>
                </select>
              </div>
            </div>
            <!-- Div field laudo -->
          {% else %}
            <a href="{% url 'index' %}">
              <h4 class="Blue-text center" >Selecione um dispositivo</h4>
            </a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

</form>



<div id="id_div_button_iniciar_coleta" hidden>
  <center>
    <button  id="id_button_iniciar_coleta" class="waves-effect waves-light btn-large z-depth-3" type="submit" value="iniciar_coleta" name="action">Iniciar Coleta</button>
  </center>
</div>

<div id="id_div_button_parar_coleta" hidden>
  <center>
    <button id="id_button_parar_coleta" class="waves-effect waves-light btn-large z-depth-3" type="submit" value="parar_coleta" name="action">Parar Coleta</button>
  </center>
</div>

<div id="id_div_button_salvar_laudo" hidden>
  <center>
    <button id="id_button_salvar_laudo" class="waves-effect waves-light btn-large z-depth-3" type="submit" value="salvar_laudo" name="action">Salvar laudo</button>
  </center>
</div>


<div id="id_div_carregando_amostrar" hidden>

  <br><br><br><br><br><br>

  <div class="preloader-wrapper big active" style= "
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -32px;
   margin-top: -32px;">
   <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
   </div>
   <div class="spinner-layer spinner-red">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
   <div class="spinner-layer spinner-yellow">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
   <div class="spinner-layer spinner-green">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>





{% endblock %}
