<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>

  <label for="tags">Tags: </label>
  <input id="tags">

<p>{{arg.0}}</p>


     <script>
  $( function() {
    var x = [];
    {% for v in arg %}
           x.push('{{ v }}')
    {% endfor %}

    $( "#tags" ).autocomplete({
      source: x

    });
  } );
  </script>


</body>
</html>