{% extends 'base_exame.html' %}
{% block body %}

  <div class="navbar-fixed">
    <nav class=" blue-grey darken-4 z-depth-2">
        <div class="nav-wrapper">
          <a href="#"class="brand-logo center">
              <span id="header-large" class="text-logo"> Nova Coleta </span>
          <a href="#" data-activates="menu-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
  </div>
  <ul class="side-nav" id="menu-mobile">
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'novoExame' %}">Novo Exame</a></li>
  </ul>
  <!--NavBar-->
  <form class="col s12 m12 l12"  method="POST">
    {% csrf_token %}
    <div class="grey lighten-5">
      </br>
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <input readonly="true" placeholder="" id="tipoExame" type="text" value="{{tipoExame}}" autofocus="">
          <label for="tipoExame">Tipo do Exame</label>
        </div>

          <input placeholder="" id="id_paciente" type="hidden" class="validate" name="fk_paciente" value="{{id_paciente}}">

        <div class="input-field col s12 m6 l6">
          <input readonly="true" placeholder="" id="nome_paciente" type="text" name="nome_paciente" value="{{nomeCompleto}}">
          <label for="nome_paciente" >Nome do Paciente</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input placeholder="" id="observacao" type="text" class="validate">
          <label for="observacao">Observação</label>
        </div>
      </div>

      <center>
        <button class="waves-effect waves-light btn z-depth-3 " type="submit" name="action">Salvar</button>
        <br>
      </center>

    </div>
  </form>

{% endblock %}
